// body.light-mode {
//   background-color: #fff;
//   color: #333;
//   transition: background-color 0.3s ease;
// }
// body.dark-mode {
//   background-color: #1a1919;
//   color: #999;
// }
.App {
  transition: background-color 0.3s ease;
  font-family: sans-serif;
  text-align: center;
}
.dropdownColumn{
  display:flex;
  flex-direction: column;
}
.form-select{
  width:100%!important;
}
// Setup
//-------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

// Main Styles
//-------------------------------------

body {
  
  color: #1a202c;
  transition: color 0.2s ease-in;
  svg{
    color: black;
  }
}

#app {
  height: 100vh;
  width: 100%;
}


main {
  background-color: #f7fafc;
  height: 100%;
  width: 100%;
  padding: 20px;
  transition: background-color 0.2s ease-in;
}

header {
  position: absolute;
}

#toggle {
  width: 50px;
  display: flex;
  padding: 5px;
  background-color: #1a202c;
  display: block;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px #000000;
  transition: background-color 0.2s ease-in;
  
  .toggle-inner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

    &.toggle-active {
      margin-left: 20px;
    }
  }
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  h1 {
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  p {
    opacity: .8;
  }
}


.dark-mode {
  color: white;
  transition: background-color 0.3s ease;
    
  main {
    background-color: #1a202c;
  }
  a{
    color:white!important;
  }
  .card-body,.accordion-body{
    color:rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
  }
  svg{
    fill:white!important;
  }

  .modal-content{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  }
  
}
/* body {
  align-items: center;
  background: ${({ theme }) => theme.body};
  color: ${({ theme }) => theme.text};
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  transition: all 0.25s linear;
} */
